<!-- Loop over each object in the blog array -->
{{#each blogs as |blog| }}
<div class="blog-card">
  <a class="blog-card-anchor" href="/blog/{{blog.id}}">
    <div class="blog-card-header title-header">
      <div> {{blog.title}} </div>
      <div> Posted by {{ blog.user.name}} {{format_date blog.date_created}} </div>
    </div>
    <div class="card-body">
      <p>
        {{blog.description}}
      </p>
  </div>
  </a>
</div>
{{/each}}

<div>
  <button class="btn pst-btn"> <a href="/blog/post" class='new-post'>+ New Post </a>   </button>
</div>
